@font-face {
    font-family: "Work Sans Thin";
    src: url("../fonts/Work Sans/WorkSans-Thin.ttf");

    font-family: "Work Sans";
    src: url("../fonts/Work Sans/WorkSans-Black.ttf");
}


body {
    font-family: "Work Sans Thin", sans-serif;
    background-color: white;
    color: black;

}

h1 {
    font-family: "Work Sans", sans-serif;
    color: black;
}

a {
    color: rgb(1, 143, 1);
}

h6, td {
    text-align: center;
}

li {
    padding-bottom: 15pt;
}

img {
    width: auto;
}

td{
    padding: 20px;
    text-align: center;
}

#tableBG {
    background-color: rgb(33, 33, 33);
}

.center {
    margin-left: auto;
    margin-right: auto;
}